.container-fluid {
	padding-top: 20%;
}

.message-box {
	margin-top: 10%;
}

.message-box .btn-secondary {
	margin-top: 5px;
}

.message-box .btn-secondary:last-of-type {
	float: right;
}

.hidden {
	display: none;
}

@media screen and (min-width: 670px) {
	.message-box {
		padding: 0 25% 0 25%;
	}
}